<!--Edit Form for the Games --> 

<a class="btn btn-primary" href="#!/">Back</a>

<div class="card">
    <div class="card-heading">
        <h3 class="card-header">Edit Game</h3>
    </div>
    <div class="card-group">
        <div class="row">
            <div class="col-md-12">
                <!--Connecting to the function to Update and Get --> 
            <form ng-submit="updateGame()" ng-init="getGame()">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" ng-model="game.title" class="form-control" placeholder="Title">
                </div>
                
                <div class="form-group">
                    <label>Genre</label>
                    <select ng-model="game.genre" class="form-control">
                        <option value="Multiplayer">Multiplayer</option>
                        <option value="Shooter">Shooter</option>   
                    </select>
                </div>
                <div class="form-group">
                    <label>Creator</label>
                    <input type="text" ng-model="game.creator" class="form-control" placeholder="Creator">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" ng-model="game.description" class="form-control"  placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <label>Image_URL</label>
                    <input type="text" ng-model="game.image_url" class="form-control"  placeholder="Image_URL">
                </div>
                <div class="form-group">
                    <label>Download_URL</label>
                    <input type="text" ng-model="game.download_url" class="form-control"  placeholder="Download_URL">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            </div>
        </div>
    </div>
</div>
