<!--Game details form--> 

<a class="btn btn-primary" href="#!/">Back</a>
<!--Using the function to fetch the Games --> 
<div class="card" ng-init="getGame()">
    <div class="card-heading">
        <!--Fetching the data from the database--> 
        <h3 class="card-header">{{game.title}}</h3>
    </div>
    <div class="card-group">
        <div class="row">
            <div class="col-md-12">
                <img src="{{game.image_url}}">
            </div>
            <div class="col-md-12">
                <a href="{{game.download_url}}" class="btn btn-primary float-bottom">Download</a>
                </p>{{game.description}}</p>
                <ul class="list-group">
                    <li class="list-group-item">Genre: {{game.genre}}</li>
                    <li class="list-group-item">Creator: {{game.creator}}</li>
                </ul>
                <!--Redirecting to Edit Form or Delete function --> 
                <a class="btn btn-warning" href="#!/games/edit/{{game._id}}">Edit</a> ｜ <a class="btn btn-danger" href="#!/games"  ng-click="removeGame(game._id)">Delete</a>
                
            </div>
        </div>
    </div>
</div>

