<!--Registration Form  --> 

<a class="btn btn-primary" href="#!/">Back</a>

<div class="card">
    <div class="card-heading">
        <h3 class="card-header">Register</h3>
    </div>
    <div class="card-group">
        <div class="row">
            <div class="col-md-12">
            <form ng-submit="addUser()">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" ng-model="user.username" class="form-control" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" ng-model="user.password" class="form-control" placeholder="Password" required>
                </div>
                
                
                <button type="submit" class="btn btn-dark">Register</button>
            </form>
            </div>
        </div>
    </div>
</div>
